#backtomain {
  border-radius: 7px;
  margin: 0.3vw;
  background-color: var(--boxcolor);
}
#backtomain > a > * {
  padding:1%;
}
#sub-body {
  margin:0;
}
#image-display-box {
  /* border: 1px blue; */
  /* background-color: blue; */
  background-color: var(--boxcolor);
  margin:0.3vw;
  max-height:80vh;
  height:max-content;
  padding: 0;
  position: center;
  
}
#detect-box {
  /* background-color: red; */
  max-height: 100%;
  height:max-content;
  width: max-content;
  margin:auto;
  position: center;
  /* margin:auto; */
  border-radius: 5px;
}
#detect-box > img {
  margin:0;
  max-height:72vh;
  height:auto;
  max-width: 53vw;
  width: auto;
  opacity: 1;
  border-radius: 5px;
  /* cursor: url("/image/02.jpg"), auto; */
}
#demo-main {
  display: grid;
  grid-template-columns: 60% 40%;
  margin:0;
  /* border:1px solid var(--textcolor); */
  /* border-radius: 7px; */
  /* margin:0.3vw; */
  /* opacity: 0.3; */
  background-color: var(--backgroundcolor);
}

#demo-main > * {
  border-radius: 7px;
  /* background-color: var(--boxcolor); */
  margin:0.3vw;
  padding: 0.3vw;
}

#howtoplay {
  /* opacity: 0; */
  background-color: rgba(0, 255, 255, 0);
  padding: 0;
  margin: 0;
}

#howtoplay > * {
  background-color: var(--boxcolor);
  opacity: 1;
  /* margin:0.3vw; */
  /* padding: 1%; */
}

#mouseicon {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color:rgba(255, 253, 107);
  border-radius: 50%;
}