#backtomain {
  border-radius: 7px;

  margin: 0.3vw;
  background-color: var(--boxcolor);
}
#backtomain > a > * {
  padding:1%;
}
#sub-body {
  margin:0;
}
#image-display-box {
  margin:0.3vw;
  padding: 0;
}
#image-display-box > * {
  margin:0;
  max-height:40vw;
  height:auto;
  /* margin-left: 10vw;
  margin-right:10vw; */
  border-radius: 5px;
}
#image-display-box > * > img {
  margin:auto;
  max-height: 100%;
  height: auto;
  max-width: 100%;
  width: auto;
  border-radius: 5px;
}
/* body {
  border:1px solid var(--textcolor);
} */
#demo-main {
  display: grid;
  grid-template-columns: 60% 40%;
  margin:0;
  /* border:1px solid var(--textcolor); */
  /* border-radius: 7px; */
  /* margin:0.3vw; */
  background-color: var(--backgroundcolor);
}

#demo-main > * {
  border-radius: 7px;
  background-color: var(--boxcolor);
  margin:0.3vw;
  padding: 0.3vw;
}


#howtoplay > * {
  margin:0.3vw;
  padding: 1%;
}
