#backtomain {
  border-radius: 7px;
  margin-top: 1vw;
  background-color: var(--boxcolor);
}
#backtomain > a > * {
  margin-left:1%;
}
#demoimg {
  border-radius: 7px;
  margin:0.3vw;
  background-color: var(--backgroundcolor);
}
#demoimg > #theimage {
  margin:0;
}