@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --titlefont: 'Montserrat', sans-serif;
  --textfont: "Roboto", Arial, Helvetica, sans-serif;
  --backgroundcolor: #ebf5fe;
  --boxcolor: #ffffff;
  --textcolor: #00192e;

  color: var(--textcolor);
  font-family: var(--textfont);
  /* border:1px solid var(--textcolor); */
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: var(--backgroundcolor);
  margin: 3%;
  padding: 0;
}
#titlebar {
  border-radius: 7px;
  margin:0.3vw;
  background-color: var(--boxcolor);
}
#titlebar > * {
  margin:0%;
  padding: 1%;
}
#main {
  display: grid;
  grid-template-columns: 70% 30%;
}
#description {
  /* background-color: red; */
  margin:0;
}
#description > #section {
  margin:0.3vw;
  margin-bottom: 0.6vw;
  background-color: var(--boxcolor);
  border-radius: 7px;
  padding: 1.5%;
}
#demo {
  background-color: var(--boxcolor);
  border-radius: 7px;
  margin:0.3vw;
}
#demo > * {
  margin:3.5%;
}
h1 {
  margin-top: 0;
  font-size: 40px;
  font-weight: 700;
  font-family: var(--titlefont);
}

h2 {
  margin-top: 0;
  font-weight: 500;
  font-size: 20px;
  font-family: var(--titlefont);
}
h3 {
  font-weight: 500;
  font-size: 18px;
  font-family: var(--titlefont);
}

h4 {
  font-weight: 500;
  margin-top: 0;
  font-size: 16px;
  font-family: var(--titlefont);
}

h5 {
  margin-top: 0;
  font-size: 14px;
  font-family: var(--titlefont);
}

h6 {
  margin-top: 0;
  font-size: 12px;
  font-family: var(--titlefont);
}

p {
  font-weight: 300;
  /* margin:1.5%; */
}

Image {
  border-radius: 10px;
  width: 100%;
  box-sizing: content-box;
}
img {
  border-radius: 10px;
  width: 100%;
  box-sizing: content-box;
}
code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

